@model PatientSystem.Models.Patient
@{
    Layout = "_Layout";
    ViewBag.Title = "Index";
}

<p>Name: @Model.Name</p>
<p>Age: @Model.Age</p>
<p>Address: @Model.Address</p>
<p>Occpuation: @Model.Occupation</p>
<p>Has Insurance: @Model.HasInsurance</p>
<p>Had Previous Operation: @Model.HadPreviousOperation</p>
<p>Maritial Status: @Model.MaritialStatus</p>
<p>Date &amp; Time Registered: @Model.RegistrationTime</p>
